@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --default-transition-duration: 150ms;
}

@layer utilities {
    .prose {
        max-width: initial;
    }
}
